.text-container
{
  border-style: dotted;
  border-width: medium;
  border-color: #780116
}
h1 {
  color: #780116;
  text-align: center;
  border-style: solid;
  border-width: thick;
  border-color: #780116
}
body {
  background-color: #F7B538
}
red
{
  color: #C32F27;
  
}
